
body {
    font-family: 'Vazir', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
}

.album-container {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.albums {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.album {
    width: 150px;
    cursor: pointer;
}

.thumbnail {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.thumbnail:hover {
    transform: scale(1.05);
}

.album-viewer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.viewer-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
}

.viewer-content img {
    width: 100%;
    border-radius: 8px;
}

.copy-code {
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.copy-code:hover {
    background-color: #0056b3;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}
